{% load static %}
<!-- Navbar start -->
        <div class="container-fluid fixed-top">
            <div class="container topbar bg-primary d-none d-lg-block">
                <div class="d-flex justify-content-between">
                    <div class="top-info ps-2">
                        <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">123 Street, New York</a></small>
                        <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Email@Example.com</a></small>
                    </div>
                    <div class="top-link pe-2">

                    </div>
                </div>
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="index.html" class="navbar-brand"><img src="{% static 'img/logo.png' %}"></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="{% url 'movieapp:allProCat' %}" class="nav-item nav-link active">Home

                                {% if user.is_authenticated %}

                                <a href="{% url 'movieapp:add_movie' %}" class="nav-item nav-link">Add Movie</a>

                                <div class="nav-item dropdown">
                                <a href="" class="nav-link dropdown-toggle {% if 'movieapp' in request.path %} active {% endif %}" data-bs-toggle="dropdown">Top Genres</a>

                                  <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                      <a href="{% url 'movieapp:allProCat' %}" class="dropdown-item">All Movies</a>
                                      {% for cat in links %}
                                    <a href="{{cat.get_url}}" class="dropdown-item">{{cat.name}}</a>
                                        {% endfor %}
                                  </div>

                                </div>
                                <a href="{% url 'credientials:logout' %}" class="nav-item nav-link">Logout</a>

                                {% else %}
                                <a href="{% url 'credientials:register' %}" class="nav-item nav-link">Register</a>
                                <a href="{% url 'credientials:login' %}" class="nav-item nav-link">Login</a>
                                {% endif %}
                        </div>

                                {% if user.is_authenticated %}
                                 <form class="d-flex" role="search" action="{% url 'movieapp:SearchResult' %}" method="get">
                                    {% csrf_token %}
                                    <input class="form-control me-2"  name="q" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                 </form>


                                <div class="d-flex m-3 me-0">
                                    <a href="{% url 'credientials:profile' user.id %}" class="my-auto">
                                        <i class="fas fa-user fa-2x"></i>&nbsp;&nbsp;{{user.username}}
                                    </a>
                                </div>
                                {% endif %}


                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->

