 {% extends 'base.html' %}
{%  load static  %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155}}
    {% else %}
        Movie Website and Recommendation Platform
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }}-MovieForMe
    {% else %}
        Movie Website and Recommendation Platform
    {% endif %}
{% endblock %}

{% block content %}


        <div class="container-fluid py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-md-12 col-lg-12">

                        <h1 class="mb-5 display-3 text-primary text-center">Register</h1>

                    </div>

                </div>
            </div>
        </div>

  <!-- Contact Start -->
        <div class="container-fluid contact py-5">
            <div class="container py-5">
                <div class="p-5 bg-light rounded">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="text-center mx-auto" style="max-width: 700px;">
                                <h1 class="text-primary">Register for Free!</h1>
<!--                                <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>-->
                            </div>
                        </div>

                        <div class="col-lg-8 offset-lg-2">

                            <form action="register" method="post" class="">
                                {% csrf_token %}
                                <input type="text"  name="username" class="w-100 form-control border-0 py-3 mb-4" placeholder="Username" required>
                                <input type="text"  name="first_name" class="w-100 form-control border-0 py-3 mb-4" placeholder="First Name" required>
                                <input type="text" name="last_name" class="w-100 form-control border-0 py-3 mb-4" placeholder="Last Name" required>
                                <input type="email" name="email" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Email" required>
                                <input type="password" name="password" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter your password" required>
                                <input type="password" name="cpassword" class="w-100 form-control border-0 py-3 mb-4" placeholder="confirm your password" required>
                                <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary " type="submit">Submit</button>
                            </form>
                            <br>
                            {% for msg in messages %}
                            <h3>{{msg}}</h3>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

{% endblock %}